<div>
  <form action="/" method="post">
    <h2>Agregar un nuevo producto</h2>
    <input id="title" type="text" placeholder="Titulo del producto" />
    <input
      id="description"
      type="text"
      placeholder="Descripción del producto"
    />
    <input id="price" type="number" placeholder="Precio" />
    <input id="code" type="text" placeholder="Código del producto" />
    <input id="stock" type="number" placeholder="Stock" />
    <input id="category" type="text" placeholder="Categoria" />
    <button type="submit" value="Send"> Agregar producto </button>
  </form>
</div>